{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for category in categories %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{category.id}}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											{{category.name}}
										</a>
									</h4>
								</div>
								<div id="{{category.id}}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											{% for sub_categories in category.subcategory_set.all %}
											<li>
												<a href="{% url 'sub_categories' sub_categories.id %}" >{{sub_categories.name}}</a>

                                             </li>
											{%empty%}
											<div class="alert alert-info" role="alert">
  												No sub categories for now
											</div>
											{% endfor %}

										</ul>
									</div>
								</div>
							</div>
							{%endfor%}
						</div><!--/category-products-->


					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{object.image.url}}" alt="" />
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">

								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>

									</div>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="" class="newarrival" alt="" />
								<h2>{{object.name}}</h2>
								<p>Total: {{object.get_total}}</p>
								<img src="" alt="" />
								<form id="edit_product" method="post">
									{% csrf_token %}
								<span>
									{% if object.discount%}
									<span>Tshs {{object.discount}}</span>
									<span style="color:gray;"><small><s>Tshs {{object.price}}</s><small></span>
									{% else %}
									<span>Tshs {{object.price}}</span>
									{%endif%}
<!--									<label for="id_quantity">Quantity</label>-->
<!--									<input type="text" name="quantity"   value="3" required="" id="id_quantity">-->
<!--									<button type="submit" style="border-color:red;" class="btn btn-inline-primary">Edit product</button>-->
								</span>
								</form>
								<p><b>Availability:</b> {{object.available}} In Stock</p>
								<p><b>Condition:</b> {{object.label}}</p>
								<p><b>Brand:</b> {{object.sub_category}}</p>
								<p><b>Description:</b>{{object.description}}</p>
								<a href=""><img src="" class="share img-responsive"  alt="" /></a>
								<a href="{{object.get_add_to_cart_url}}" class="btn btn-default cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
								</a>

							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								{% for recommend in recommend %}
								<div class="item active">
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img style=" height:200px; width:200px;" src="{{recommend.get_individual_product_image}}" alt="" />
													<h2>{{recommend.get_individual_product_price}}</h2>
													<p></p>
													<a href="{{recommend.get_add_to_cart}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>

											</div>
										</div>
									</div>

								</div>
								{%endfor%}



							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/recommended_items-->

				</div>
			</div>
		</div>
	</section>
{% block javascript %}
<script>
	$("#edit_product").submit(function(e){
	    e.preventDefault();
        const serializedData = $(this).serialize();
        $.ajax({
            type:'POST',
            url:"{% url 'edit_product' object.id %}",
            data:serializedData,
            success: function (response){
                $('#edit_product').trigger('reset');
                 alert(response["responseJSON"]["message"]);
            },

            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>

{% endblock javascript %}


{% endblock content %}
